# ===========================================
# Shared Infrastructure Configuration
# ===========================================

# Database
POSTGRES_USER=myuser
POSTGRES_DB=transcendence_db
POSTGRES_PASSWORD=test_postgres_password

# Cookie
COOKIE_SECRET=test_cookie_secret


