# ===========================================
# User Service Configuration
# ===========================================

# JWT Authentication
JWT_EXPIRES_IN=24h

# Environment
NODE_ENV=development

# Logging
LOG_LEVEL=debug

#Database
DB_HOST=user-db
DB_PORT=5432
POSTGRES_USER=myuser
POSTGRES_DB=user_db

REDIS_HOST=redis
REDIS_PORT=6379

# Variables in Azure Container Apps
JWT_SECRET=test_jwt_secret
COOKIE_SECRET=test_cookie_secret
POSTGRES_PASSWORD=test_postgres_password